.custom-header {
    background-color: #00204B; /* Custom background color */
    color: #fff; /* Custom text color */
    /* Add more styles as needed */
} 

.custom-search-input {
    background-color: #003477; /* Custom background color */
    color: #fff; /* Custom text color */
    /* Add more styles as needed */
}